<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FragmentAndroid"
        tools:targetApi="31">
        <activity
            android:name=".Telas.Animacoes.SplashTablet"
            android:exported="false" />
        <activity
            android:name=".Telas.TelasTour.TelaTourCompleto"
            android:exported="false" />
        <activity
            android:name=".Telas.TelasSecundarias.TelAreaRestrita"
            android:exported="false" />
        <activity
            android:name=".Telas.TelasSecundarias.TelaConfiguracao"
            android:exported="false" />
        <activity
            android:name=".Telas.TelasSecundarias.TelaFormulario"
            android:exported="false"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasSecundarias.TelaNotificacao"
            android:exported="false"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasErro.TelaErroWifi"
            android:exported="false"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasTour.TelaTourConteudo"
            android:exported="false"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasTour.TelaTour3"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasTour.TelaTour2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasTour.TelaTour1"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasTour.TelaCardAberto"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasSecundarias.TelaPerfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.TelasEntrada.TelaEsqueceuSenha3"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasEntrada.TelaEsqueceuSenha2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasEntrada.TelaEsqueceuSenha"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasErro.TelaErroSMS"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasErro.TelaErroInterno"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasEntrada.TelaCadastro2"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasEntrada.TelaPesquisa"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasEntrada.TelaLogin"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasEntrada.TelaCadastro"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasEntrada.TelaSMS"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasPrincipais.TelaEventosFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasPrincipais.TelaExcursoesFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasPrincipais.TelaFigurinhasFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasPrincipais.TelaHomeFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".Telas.TelasPrincipais.TelaTurismosFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Telas.Animacoes.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.Viajou">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>